<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Moodify</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bubbles.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body onload="load_webpage()">
        <div class="bubbles">
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
        </div>

        <div id="input_field">
            <h1 id="titleBar">Moodify</h1>
            <form action="/" method="post">
                <input type="button" class="inputs" id="moodButton" onclick="change_button()" value="Sad">
                <input type="text" name="artist" class="inputs" id="artistInput" placeholder="Artist..." autocomplete="off">
                <input type="button" name="mood" class="inputs" id="moodInput" hidden="hidden" value="Sad">
                <a id="stage" hidden="hidden">{{ stage }}</a>
            </form>
        </div>
    </body>
</html>