<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Moodify</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bubbles.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body onload="load_webpage()">
        <div class="bubbles">
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
        </div>

        <div id="input_field">
            <h1 id="titleBar">Moodify</h1>
            <form action="/" method="post" onsubmit="start_loading()">
                <input type="button" class="inputs" id="moodButton" onclick="change_button()" value="Sad">
                <input type="text" name="artist" class="inputs" id="artistInput" placeholder="Artist..." autocomplete="off">
                <input type="hidden" name="mood" class="inputs" id="moodInput" hidden="hidden" value="Sad">
            </form>

            <div id="loadingBar" hidden="hidden"></div>
            <a id="mood" hidden="hidden">{{ mood }}</a>
            <a id="artist" hidden="hidden">{{ artist }}</a>
            <a id="songs" hidden="hidden">{{ songs }}</a>

            <table id="songTable" class="outputs"></table>

        </div>
    </body>
</html>